/* Custom CSS */

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}


.w-1r {width: 1rem;}
.h-1r {height: 1rem;}

.w-2r {width: 2rem;}
.h-2r {height: 2rem;}

.w-3r {width: 3rem;}
.h-3r {height: 3rem;}

.w-4r {width: 4rem;}
.h-4r {height: 4rem;}

.w-5r {width: 5rem;}
.h-5r {height: 5rem;}

.w-6r {width: 6em;}
.h-6r {height: 6rem;}

.w-7r {width: 7rem;}
.h-7r {height: 7rem;}.
.w-8r {width: 8rem;}
.h-9r {height: 9rem;}

.w-10r {width: 10rem;}
.h-10r {height: 10rem;}

.w-25p {width: 25px}
.h-25p {height: 25px}

.w-50p {width: 50px}
.h-50p {height: 50px}

.w-75p {width: 75px}
.h-75p {height: 75px}

.w-100p {width: 100px}
.h-100p {height: 100px}

.w-200p {width: 200px}
.h-200p {height: 200px}

.w-300p {width: 300px}
.h-300p {height: 300px}

.w-400p {width: 400px}
.h-400p {height: 400px}

.w-500p {width: 500px}
.h-500p {height: 500px}




.klib
.kem-logo-icon-box, .klib {
	width: 2em;
	height: 2em;
	background-color: #ff19a7;
}






.mt-10 {
	margin-top: 10px;
}
	
.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	padding-bottom: 20px;
}



.pt-10 {
	padding-top: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}




.sky-gradient {
  background: -webkit-gradient(linear,left top,right top,from(#0acffe),to(#495aff));
  background: -webkit-linear-gradient(left,#0acffe 0,#495aff 100%);
  background: -o-linear-gradient(left,#0acffe 0,#495aff 100%);
  background: linear-gradient(to right,#0acffe 0,#495aff 100%)
}







.bd-alpha {
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgb(0, 0, 0, 1); }
	
	
	
/*


/* From JS Fiddle */

.row {
  /* background: #f8f9fa; */
  background: green;
  margin: 0px 10px 0px 10px;
}

.col {
  background: pink;
  border: solid 1px #6c757d;
  padding: 0px 0px 0px 0px;
}

.zeroed {
  margin-left: 0px;
  padding: 0px 0px 0px 10px;
}


/* BEGIN From bs-blog.css */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Open Sans", "Roboto", "Segoe UI", Arial, sans-serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}

/* IMPORTANT VIDEO TITLE */

.content-title {
  margin: 0px 10px 0px 0px;
  padding: 0px;
  border-color: green;
  border-width: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  color: white;
  font-weight: 900;
  font-style: italic;
  background-color: black;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/*
 * Blog name and description
 */

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination>.btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

/* END From blog.css */

/* BEGIN Kemical Sex Styles */

.block-sexcatalyst {
  display: block;
  background-color: ea1899;
  color: white;
}

/* END From blog.css */

/* BEGIN Color Styles */

/* END Color Styles */

/* BEGIN Kemical Sex Styles */

